p {
    color: red;
}
.header {
    width: 1110px;
    height: 100px;
    margin: auto;
}
.Nav {
    background: black;
    list-style: none;
    display: flex;
    justify-content: space-around;
    line-height: 100px;
    color: white;

}
.Nav a {
    text-decoration: none;
    color: white;
}
main {
    width: 1110px;
    margin: auto;
}